{
    "bangumi": {
        "list": [
            {
                "name": "",
                "upstream-url": ""
            }
        ]
    },
    "telegram": {
        "token": "",
        "chat_id": ""
    }
}